p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
}
span{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}
.aban {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin-top: 100px;
}

.aban__wrapBlog {
  position: relative;
  height: 230px;
  overflow: hidden; 
}

.aban__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -2;
}

.aban__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 4rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 17.1%, rgba(0, 0, 0, .8) 100%);
}

.aban__inner {
  height: 100%;
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.aban__ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  animation: zoomOut 1s ease forwards;
  animation-delay: .5s;
}

.aban__text {
  color: white;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
}

.aban__title {
  font-size: 3rem;
  line-height: 1;
  color: white;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 1rem;
}

.aban__desc {
  margin: 1rem 0 0 0;
  width: 55%;
  color: white;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.aban2 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.aban2__flex {
  display: flex;
  width: 100%;
  // margin-top: 2rem; /* Giảm khoảng cách giữa các phần tử */
}
.aban2__left1{
  width: 40%;
  justify-content: center;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: .5s;

}
.aban2__right1{
  width: 77%;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: .5s;
}
.aban2__left2{
  width: 50%;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: .5s;
}
.aban2__right2 {
  width: 50%;
  justify-content: center;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: .5s;

}

.aban2__box {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  overflow: hidden;
}

.aban2__box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s;
  transform: scale(1.05, 1.05);

}

.bannerLogo {
  max-height: 120px;
  width: auto;
  height: auto;
}

.aban2__desc, .aban2__desc2 {
  padding: 1rem; /* Thêm khoảng cách bên trong phần tử */
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.aban2__title {
  font-size: 2rem;
  color: #000;
  margin-bottom: 1rem;
  font-family: 'Courier New', Courier, monospace;

}
.container2{
  display: flex;
  justify-content: center;
  background-color: #F7F8F4;
  height: 103px;
}
.wrapper__content{
margin-top: 20px;
padding: 30px;
}
.wrapper__header1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 8%;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  border-bottom: 1px solid #000;

  &__navbar {
    display: flex;
    align-items: center;

    & a {
      display: inline-block;
      font-size: 18px;
      background-color: #F7F8F4;
      color: #000;
      text-decoration: none;
      font-weight: 600;
      margin: 0 20px;
      transition: 0.3s;
      opacity: 0;
      animation: slideRight 0.7s ease forwards;
      animation-delay: calc(0.2s * var(--i));
      font-family: monospace;
      border-radius: 45%;
      padding: 10px 15px;

      &:hover {
        color: #f7f8f4;
        background-color: #000;
        font-size: 20px;
        font-weight: 600;
      }

      &.active {
        background-color: #000;
        color: #f7f8f4;
      }
    }
  }
}


@keyframes zoomOut {
  0% {
      transform: scale(1.1);
      opacity: 0;
  } 
  100% {
      transform: scale(0.5);
      opacity: 1;
  } 
}

@keyframes zoomIn {
  0% {
      transform: scale(0.5);
      opacity: 0;
  } 
  100% {
      transform: scale(1);
      opacity: 1;
  } 
}
